<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	
	<main class="container">
		<h1 th:text="${titulo}" class="text-center my-3"></h1>
		<div class="card mt-5">
			<div class="card-header d-flex justify-content-between">
				<a th:href="@{'/ver/' + ${factura.cliente.id}}" class="btn btn-success btn-sm mb-3" th:text="'Ir al detalle del cliente'"></a>
				<div>
					<a th:href="@{'/factura/ver/' + ${factura.id}(format=pdf)}" class="btn btn-info btn-sm mb-3" th:text="'PDF'"></a>
					<a th:href="@{'/factura/ver/' + ${factura.id}(format=xlsx)}" class="btn btn-success btn-sm mx-2 mb-3" th:text="'XLSX'"></a>
				</div>
			</div>
			<div class="card-body">				
				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary" th:text="'Datos del cliente'"></li>
					<li class="list-group-item" th:text="${factura.cliente}"></li>
					<li class="list-group-item" th:text="${factura.cliente.email}"></li>
				</ul>
				<ul class="list-group mb-4">
					<li class="list-group-item list-group-item-success" th:text="'Datos de la factura'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${factura.id}"></li>
					<li class="list-group-item" th:text="'Descripción: ' + ${factura.descripcion}"></li>
					<li class="list-group-item" th:text="'Fecha ' + ${factura.createAt}"></li>
				</ul>
				
				<div class="alert alert-info my-4" th:if="${#lists.isEmpty(factura.items)}" th:text="'No hay líneas para la factura ' + ${factura.descripcion}"></div>
				
				<table class="table table-striped table-sm table-hover" th:if="${not #lists.isEmpty(factura.items)}">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="itemFactura: ${factura.items}">
							<td th:text="${itemFactura.producto.nombre}"></td>
							<td th:text="${itemFactura.producto.precio}"></td>
							<td th:text="${itemFactura.cantidad}"></td>
							<td th:text="${itemFactura.calcularImporte()}"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="3">Total</th>
							<th th:text="${factura.total}"></th>
						</tr>
					</tfoot>
				</table>
				<div class="card my-4" style="max-width: 20rem;">
					<div class="card-header">Observaciones</div>
					<div class="card-body">
						<p class="card-text" th:if="${not #strings.isEmpty(factura.observacion)}" th:text="${factura.observacion}"></p>
						<h4 class="card-title" th:if="${#strings.isEmpty(factura.observacion)}" th:text="'No tiene observaciones'"></h4>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>