<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
	<header th:replace="layout/layout::header"></header>
	<main class="container">
		<h1 th:text="${titulo}" class="text-center my-3"></h1>
		<div class="card mt-5">
			<div class="card-body">
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/form}" th:object="${cliente}" method="POST" autocomplete="off" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label> 
						<input type="text" class="form-control" th:field="*{nombre}">
						<div class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
					</div>
					<div class="mb-3">
						<label for="apellido" class="form-label">Apellido</label> 
						<input type="text" class="form-control" th:field="*{apellido}">
						<div class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
					</div>
					<div class="mb-3">
						<label for="email" class="form-label">Email</label> 
						<input type="text" class="form-control" th:field="*{email}">
						<div class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					</div>
					<div class="mb-3">
						<label for="createAt" class="form-label">Fecha</label> 
						<input type="text" class="form-control" th:field="*{createAt}">
						<div class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></div>
					</div>
					<div class="mb-3">
					  <label for="file" class="form-label">Foto</label>
					  <input type="file" name="file" id="file" class="form-control">
					</div>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>
			</div>
		</div>
	</main>
	
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>

